body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}



body {

    color: #fff;
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #place-button{
    position: absolute;
    bottom: calc(50% - 150px);;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    display: block;
  }

  #img-div{
    position: absolute;
    bottom: calc(50%);;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    display: block;
  }
  
.reticle_hud{ 
	position: absolute;
    bottom: calc(50%);;
    left: calc(50%);
    width: 35px;
    height: 35px;
    display: block;


}



  #VRButton{
    margin-bottom: 70px !important;
  }

  .card-custom {
	overflow: hidden;
	min-height: 450px;
	box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
	height: 80%;
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
	position: absolute;
	content: '';
	top: 161px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-top-width: 40px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 545px;
	border-left-width: calc(575px - 5vw);
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: inherit;
  }
  
  .card-custom-avatar img {
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
	position: absolute;
	top: 100px;
	left: 1.25rem;
	width: 100px;
	height: 100px;
  }
  


  .Progressbar {
	position: relative;
	height: 32px;
	width: 300px;
	left: 35%;
	top: 50%;
	border-radius: 1000px;
	background-color: #484848;
	clip-path: inset(0 0 0 0 round 1000px);
  }
  
  .Progressbar__value {
	height: 32px;
	transition: width 0.4s ease-in-out;
	border-radius: 1000px 0 0 1000px;
	background-color: #ff4c65;
	will-change: width;
  }
  
  .Progressbar > progress {
	opacity: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	pointer-events: none;
  }